<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration Confirmation</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <h2>Member registered successfully !</h2>

  <!-- Display first name, last name and email -->
  <ul>
    <li th:text="'Member name: ' + ${webMember.memberName}"></li>
    <li th:text="'First name: ' + ${webMember.firstName}"></li>
    <li th:text="'Last name: ' + ${webMember.lastName}"></li>
    <li th:text="'Email: ' + ${webMember.email}"></li>
  </ul>
  <hr>
  <a th:href="@{/showLoginPage}">Login with new member name</a>
</body>
</html>